<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="menu(menu)">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Spring Boot Tutorial</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" th:href="@{/}" th:classappend="${menu} == 'home'? 'active'">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/board/list}" th:classappend="${menu} == 'board'? 'active'">게시판</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>

